
.m-index{
  .l-container{
      .m-home{
        @include flexbox();
        @include flex-direction(column);
        width:100%;
        height:100%;
        header{
          width:100%;
          height:.44rem;
          background:#0dc441;
          ul{
            width: 100%;
            height:100%;
            @include flexbox();
            li{
              width: .44rem;
              height:100%;
              font-size:.22rem;
              color:#fff;
              line-height: .44rem;
              text-align: center;
              &:nth-child(2){
                width: 100%;
                height:100%;
                @include flex(1);
                @include flexbox();
                @include justify-content(center);
                @include align-items(center);
                ul{
                  width: 1.18rem;
                  height:.25rem;
                  @include border-radius(.1rem);
                  overflow:hidden;
                  li{
                    width: .59rem;
                    height:100%;
                    background: rgba(100,217,133,0.7);
                    color:rgba(255,255,255,0.7);
                    font-size: .14rem;
                    line-height: .24rem;
                    text-align: center;
                    &.active{
                      color: #fff;
                      background: rgba(100,217,133,1);
                    }

                  }
                }
              }
            }
          }
        }
        #home-swiper{
          width: 100%;
          height:100%;
          .swiper-wrapper{
            width: 100%;
            height:100%;
            .swiper-slide:first-child{
              width: 100%;
              @include flexbox();
              @include flex-direction(column);
                nav{
                  width:100%;
                  height:.35rem;
                  background: #fff;
                  ul{
                    width: 100%;
                    height:.34rem;
                    @include flexbox();
                    li{
                      width: 100%;
                      height:100%;
                      @include flex(1);
                      line-height: .34rem;
                      text-align: center;
                      @include box-sizing(border-box);
                      @include box-sizing(border-box);
                      @include border(0 0 1px 0,#d9d9d9,solid);
                      &.active{
                        border-bottom: 2px solid #0dc441;
                      }
                    }
                  }
                }
                #home-hot-swiper{
                  @include flex(1);
                  width: 100%;
                  section{
                    width: 100%;
                    height:100%;
                    overflow: hidden;
                    background: yellow;
                    // 上拉加载 下拉刷新
                    .head {
                        text-align: center;
                        height: .3rem;
                        line-height: .3rem;
                    }
                    .head img {
                        display: inline-block;
                        transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        transition: transform 150ms;
                        -webkit-transition: transform 150ms;
                        height: .15rem;
                        width: .15rem;
                    }
                    .up {
                        transform: rotate(360deg) !important;
                        -webkit-transform: rotate(360deg) !important;
                    }
                    .foot {
                        text-align: center;
                        height: .3rem;
                        line-height: .3rem;
                    }
                    .foot img {
                        display: inline-block;
                        /*transform: rotate(0deg);*/
                        /*-webkit-transform: rotate(0deg);*/
                        transition: transform 150ms;
                        -webkit-transition: transform 150ms;
                        height: .15rem;
                        width: .15rem;
                    }
                    .down {
                        transform: rotate(180deg) !important;
                        -webkit-transform: rotate(180deg) !important;
                    }
                    //上拉加载 下拉刷新结束
                    ul{
                      width: 100%;
                      @include flexbox();
                      margin-top:.05rem;
                      li{
                        // 这里只能只有一个& 否则会出错的
                        &:not(:nth-child(2) ){
                          // width: 100%;
                          @include flex(1);
                        }
                        &.hide{
                          visibility: hidden;
                        }
                        &:nth-child(2){
                          width: .05rem;
                        }
                        i,img,b{
                          display: block;
                        }
                        i{
                          img{
                            width: 100%;
                            border:0;
                          }
                        }
                        b{
                          @include box-sizing(border-box);
                          width: 100%;
                          font-size:.14rem;
                          padding:.08rem .05rem;
                          background: #fff;
                          font-weight: normal;
                        }


                      }
                      &:last-child{
                        padding-bottom:0.1rem;
                      }
                    }
                  }

                }


            }

          }

        }

      }
  }
}
