//是为了实现弹框的效果
@import "../../lib/widget/yo-dialog";


@include yo-dialog(
  $name: a,
  $height: 2rem
){
  footer button:nth-child(1){
    color:green !important;
  }
  footer button:nth-child(2){
    @include border-radius(.1rem);
  }
};
.m-lifenav {
  width: 100%;
  overflow: hidden;
  ul {
    @include flexbox();
    width: 4rem;
    @include border(0px 0px 0px 1px);
    li {
      @include border(1px 1px 1px 0);
      @include flex(1);
      text-align: center;
      line-height: .35rem;
    }
  }
}
