//引入重置样式
@import "../lib/core/reset";
//引入特殊字体样式
@import "./core/common";
//引入swiper的css类库
@import "./core/swiper-3.3.1.min.css";



// layout  引入类库的样式
spa-app {
    position: absolute;
    overflow: hidden;
}

spa-view {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #eceef0 !important;
    @include flexbox(flex);
    @include flex-direction(column);
}

//引入首页样式
@import "./module/guide";
@import "./module/index";
//引入视图
@import "./module/home";
@import "./module/my";
@import "./module/detail";
@import "./module/search";
