//引入字体
@font-face {
  font-family: yofont;
  src: url("/football/images/iconfont/iconfont.woff") format("woff"),
   url("/course-footballSNS/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/football/images/iconfont/iconfont-menu.woff") format("woff"),
  url("/course-footballSNS/images/iconfont/iconfont-menu.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/football/images/iconfont/iconfont1.woff") format("woff"),
  url("/course-footballSNS/images/iconfont/iconfont1.ttf") format("truetype");
}
